  
{
     "class": "AS3",
     "declaration": {
         "class": "ADC",
         "schemaVersion": "3.20.0",
         "id": "{{ENVIRONMENT}}_{{APPLICATION_NAME}}",
         "label": "AS3_app",
         "remark": "Created_using_AS3",
         "t_{{APPLICATION_NAME}}": {
             "class": "Tenant",
             "defaultRouteDomain": 0,
             "{{ENVIRONMENT}}_{{APPLICATION_NAME}}_{{VIP_PORT}}": {
                 "class": "Application",
                 "template": "generic",
                 "{{ENVIRONMENT}}_{{APPLICATION_NAME}}_{{VIP_PORT}}_vs": {
                   "class": "Service_TCP",
                   "metadata": {
	        					"application_url": { "value" : "{{APPLICATION_URL}}" }	        					
		                },
                   "virtualAddresses": [
                     "{{VIP_IP}}"
                 ],
                  "virtualPort": {{VIP_PORT}},
                  "pool": "{{ENVIRONMENT}}_{{APPLICATION_NAME}}_{{VIP_PORT}}_pool"
                 },
                 
                 "{{ENVIRONMENT}}_{{APPLICATION_NAME}}_{{VIP_PORT}}_pool": {
                     "class": "Pool",
                    "monitors": [
                            "tcp"
                        ],
                     "members": [
                      {% for member in POOL_MEMBERS.split(',') %}
                      {
                         "servicePort": {{member.split(':')[1]}},
                         "serverAddresses": [
                              "{{member.split(':')[0]}}"
                         ],
                         "adminState": "enable"
                      }
                      {% if not loop.last %}
                        ,
                      {% endif %}
                      {% endfor %}
                    ]
                 }
            }
         }
     }
 }